[coverage:run]
branch = True

[coverage:report]
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == '__main__'

[coverage:paths]
# Consider only files under the 'src' directory
source =
    src

[coverage:exclude]
# Excluir una carpeta específica (por ejemplo, 'tests') de la cobertura
omit =
    */test/*
    */MyAdventures/*
