# Ignorar Archivos del Servidor de Minecraft
Server/*

# Ignorar carpeta de compilacion del Plugin del Server de Minecraft
MyAdventures/java/ChatListener/
*.class

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
